<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualsize">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_virtualsize"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".keranjang.RiwayatTransaksi"></activity>
        <activity android:name=".keranjang.terima_pesanan" />
        <activity android:name=".Chat.MessageActivity" />
        <activity android:name=".login.ActivityLogin" />
        <activity android:name=".keranjang.ActivityPembayaran" />
        <activity android:name=".login.ActivityRegister" />
        <activity android:name=".homes.ActivityDetail" />
        <activity android:name=".homes.ActivityListProduk" />
        <activity android:name=".home.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.ActivityUtama"
            android:screenOrientation="nosensor" />
        <activity android:name=".akun.ActivityKontak" />
        <activity android:name=".akun.ActivityProfil" />
        <activity android:name=".akun.ActivityTentang" />
        <activity android:name=".akun.ActivityUlasKami" />
    </application>

</manifest>